# Java build files
*.class
*.jar
*.war
*.ear

# macOS system files
.DS_Store

# Eclipse / IntelliJ / VS Code build files
/.idea/
/.vscode/
/bin/
/target/
/out/
/*.iml
/.classpath
/.project
/.settings/
